.texto {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.error {
    width: 100%;
    margin: auto;
    min-height: 50vh;
    display: flex;
    align-items: center;;
}


/*
Solo use estas dos clases para modificar el mensaje del error
----------------------------------- 
body {
    background-color: #fff;
    color: #2E2F30;
    font-family: sans-serif;
    margin: 0;
} 
footer {
    position: fixed;
    padding: 5px;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.24);
    bottom: 0%;
    width: 100%;
    height: 20px;   
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #393939;
    background: #fe9d00;
}
a {
    color: #393939;
}
a:hover {
    color: white;
}

h1 { 
    font-size: 3em;
    color: #393939;
    line-height: 1em;
}
p {
    font-size: 1em;
    color: #393939;
    padding-right: 5%;
}
.logo {
    width:50%;
    margin: auto;
}
.boton {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding:14px 10px;
    text-align: center;
    border: 2px solid #3742fa;
    width: 80px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
@media only screen and (max-width: 767px) {
    .logo {
        width: 90%;
        margin: 5% 0 0 5%;
    }
    .texto {
        float:none;
        text-align: center;
        width: 90%;
    }
.texto {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.error {
    width: 100%;
    margin: auto;
}


/*
Solo use estas dos clases para modificar el mensaje del error
----------------------------------- 
body {
    background-color: #fff;
    color: #2E2F30;
    font-family: sans-serif;
    margin: 0;
} 
footer {
    position: fixed;
    padding: 5px;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.24);
    bottom: 0%;
    width: 100%;
    height: 20px;   
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #393939;
    background: #fe9d00;
}
a {
    color: #393939;
}
a:hover {
    color: white;
}

h1 { 
    font-size: 3em;
    color: #393939;
    line-height: 1em;
}
p {
    font-size: 1em;
    color: #393939;
    padding-right: 5%;
}
.logo {
    width:50%;
    margin: auto;
}
.boton {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding:14px 10px;
    text-align: center;
    border: 2px solid #3742fa;
    width: 80px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
@media only screen and (max-width: 767px) {
    .logo {
        width: 90%;
        margin: 5% 0 0 5%;
    }
    .texto {
        float:none;
        text-align: center;
        width: 90%;
    }
}